#profile {
  display: flex;
  width: 400px;
  height: 300px;
  border: 2px solid gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 20px;
}

#title {
  display: inline-block;
  justify-content: right;
  align-items: right;
  margin-right: 10px;
}

#profile img {
  width: 125px;
  height: auto;
  display: block;
  margin-left: 0;
  margin-right: 30px;
}

.desc {
  display: flex;
  flex-direction: column;
}

#modal-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; /* 기본적으로 숨김 */
}

/* #modal-box.active {
  display: flex;
} */

#modal-box.active {
  display: block; /* active 클래스가 있을 때만 표시 */
}

.close {
  margin-left: 800px;
  margin-top: 300px;
}
